---

---
<div class="page-header">
    <img class="header-logo" src="images/sourcetorio_logo.webp" />
    <h1>Welcome to <span class="text-gradient-animated">Sourcetorio!</span></h1>
</div>

<style>
    .page-header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 1rem;
    }
	.header-logo {
		width: 12rem;
        max-width: 50vw;
		display: inline;
	}
	.page-header h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: left;
    }
    @media(max-width: 600px) {
        .page-header {
            flex-direction: column;
        }
        .page-header h1 {
            font-size: 2.5rem;
            text-align: center;
        }
    }
</style>