---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<!-- This tells dark reader that it shoudn't activate -->
		<meta name="darkreader-lock">
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 200, 176, 226;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 40%,
			rgba(255, 255, 255, 0.4) 80%
		);
		--accent-infinite-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)) 0%,
			rgb(var(--accent-light)) 25%,
			rgb(var(--accent)) 50%,
			rgb(var(--accent-light)) 75%,
			rgb(var(--accent)) 100%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
		border: 1px solid rgb(var(--accent-light));
		border-radius: .3em;
		background-color: #13151a;
		padding: 5px;
	}
	.code-block {
		display: block;
		padding: 1rem;
		margin: 0.5rem 0.2rem;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	
	/* text classes */
    .text-gradient {
        background-image: var(--accent-gradient);
        background-clip: text;
        color: transparent;
        background-size: 400%;
        background-position: 0%;
    }

	.text-gradient-animated {
		background-image: var(--accent-infinite-gradient);
		background-clip: text;
		color: transparent;
		background-size: 200%;
		animation: gradient-anim 6s linear infinite;
		
	}
	@keyframes gradient-anim {
		0%{background-position-x: -100%}
		100%{background-position-x: 100%}
	}
</style>
